<a href="https://colab.research.google.com/github/mpanuluh/Coding-Exercise/blob/main/Post_Test_Day_19_CE4_Mahatma_Abiyoso_Panuluh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Welcome to Coding Exercise 4
**You only need to solve 2 question only**

### Question 1. 
### "Shifting Members of an Array"

In this question, we want to shift our array to the right. How many times? Depends on the input. 

##### Example 1:
array = [1,2,3,4,5]
steps = 3

We need to shift the array 3 steps to the right. 
- Original array = [1,2,3,4,5]
- Step 1 = [5,1,2,3,4]
- Step 2 = [4,5,1,2,3]
- Step 3 = [3,4,5,1,2]

Answer = [3,4,5,1,2]

##### Example 2:
array = [1,2,3]
steps = 5

We need to shift the array 5 steps to the right.

- Original array = [1,2,3]
- Step 1 = [3,1,2]
- Step 2 = [2,3,1]
- Step 3 = [1,2,3]
- Step 4 = [3,1,2]
- Step 5 = [2,3,1]

Answer = [2,3,1]

In [ ]:
### Write your function here ###
def shift(array, steps):
    return

In [ ]:
### Solution

def shift(array,steps):
  import collections
  x  = collections.deque(array)
  x.rotate(steps)
  return x

In [ ]:
shift([1,2,3,4,5],4)

# Expected Output: [2, 3, 4, 5, 1]

deque([2, 3, 4, 5, 1])

In [ ]:
shift(['andi', 'budi', 'charlie', 'doni'],7)

# Expected Output: ['budi', 'charlie', 'doni', 'andi']

deque(['budi', 'charlie', 'doni', 'andi'])

In [ ]:
shift(['di', 'bim', 'bing', 123, 'data', 'science'],10)

# Expected Output: ['bing', 123, 'data', 'science', 'di', 'bim']

deque(['bing', 123, 'data', 'science', 'di', 'bim'])

### Question 2. 
### "Segitiga Paskal"

We want to generate the n-th row of "Pascal's Triangle". Your function name should be ```pascal```. For those who does not know pascal triangle, watch this video: https://www.youtube.com/watch?v=1D3KsvfB8b0 and read https://www.mathsisfun.com/pascals-triangle.html 

##### Example 1:
Input = 4,

Answer = [1,4,6,4,1]

##### Example 2:
input = 3,

Answer = [1,3,3,1]

In [ ]:
### Write your solution here ###
def pascal(input):
  currow = []
  currow.append(1)
  if (input == 0) :    
      return currow    
  prev = pascal(input - 1)
  for i in range(1, len(prev)) :
      curr = prev[i - 1] + prev[i]
      currow.append(curr)
  currow.append(1)
  return currow

In [ ]:
pascal(3)

[1, 3, 3, 1]

In [ ]:
pascal(4)

[1, 4, 6, 4, 1]

### Question 3

### "Maximum Distance Between 3 Points"

Given three coordinates, determine which two points are the furthest apart, and output the length of their distance. Your function should be called ```max_distance```. First coordinate is called 'A', second coordinate is called 'B', third coordinate is called 'C'. 


##### Example:
A = [1,2],
B = [10,-10],
C = [-3, 5]

- The distance between AB = 15
- The distance between BC = 19.8
- The distance between AC = 8.06

Answer = "The point A, B are furthest apart with distance 19.8"

In [ ]:
### Write your solution here ###
def max_distance(A,B,C):
  a1 = A[0]
  a2 = A[1]
  b1 = B[0]
  b2 = B[1]
  c1 = C[0]
  c2 = C[1]
  AB = ((b1-a1)**2 + (b2-a2)**2)**0.5
  BC = ((c1-b1)**2 + (c2-b2)**2)**0.5
  AC = ((c1-a1)**2 + (c2-a2)**2)**0.5
  print('The distance between AB =', AB)
  print('The distance between BC =', BC)
  print('The distance between AC =', AC)
  if AB > BC:
    if AB > AC:
      print('The point A, B are furthest apart with distance', AB)
    else:
      print('The point A, C are furthest apart with distance', AC)
  elif BC > AC:
    print('The point B, C are furthest apart with distance', BC)
  else:
    print('The point A, C are furthest apart with distance', AC)

In [ ]:
max_distance([1,2],[10,-10],[-3,5])

The distance between AB = 15.0
The distance between BC = 19.849433241279208
The distance between AC = 5.0
The point B, C are furthest apart with distance 19.849433241279208

In [ ]:
max_distance([15,10],[-22,33],[7,-20])

The distance between AB = 43.56604182158393
The distance between BC = 60.41522986797286
The distance between AC = 31.04834939252005
The point B, C are furthest apart with distance 60.41522986797286